*{
    margin: 0;
    padding: 0;
  }
  
  body{
    background-color: black;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%; 
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
  }
  
  
body::-webkit-scrollbar{
  width: 0px;
}

  button{
    display: block;
    width: 20vh;
    padding: 2vh;
    margin-top: 1vh;
  }
  
  #Criar{
    display: none;
  }

  iframe{
    width: 100%;
    height: 100vh;
  }
  
#Sidebar{
  top: 0;
  position: fixed;
  right: 0;
  height: 100%;
  background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
  backdrop-filter: blur(2.6vh);
  width: 18vh;
  display: none;
}

#Sidebar > a{
  color: rgb(255, 255, 36);
  text-decoration: none;
  display: block;
  margin: auto;
  font-size: 2vh;
  text-align: center;
  padding: 2vh;
  cursor: pointer;
}

#BtnSidebarAbir,#BtnSidebarFechar{
  all: unset;
  color: white;
  position: fixed;
  padding-right: 1vh;
  cursor: pointer;
  font-size: 4vh;
  top: 0;
  right: 0;
  z-index: 5;
  text-align: right;
}

#BtnSidebarAbir{
  display: block;
}
#BodyOpacity{
  background: rgba(0, 0, 0, 0.77);
  filter: opacity(98%);
  top: 0;
  z-index: -1;
  position: fixed;
  height: 100vh;
  width: 100%;
}