@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Cores */
#Nada {
    color: #7A6F46;
    color: #434CA5;
    color: #FAC611;
    color: #BA9F3C;
    color: #1127FA;
}

/* Padrão Site */
body {
    color: white;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
}

body::-webkit-scrollbar {
    width: 0px;
}


button,
input,
textarea {
    all: unset;
    display: block;
    margin: auto;
    border: 0.4vh solid #FAC611;
    padding: 2vh;
    font-size: 2vh;
    width: 10%;
    text-align: center;
    border-radius: 0.6vh;
    margin-top: 1vh;
    background-color: #434CA5;
    color: #FAC611;
}

input,
textarea {
    width: 60%;
}

select {
    all: unset;
    display: block;
    text-align: center;
    margin: auto;
    border: 0.5vh solid #FAC611;
    font-size: 3vh;
    width: 20%;
    cursor: pointer;
    padding: 0.8vh;
    background-color: #1127FA;
    color: #FAC611;
    border-radius: 0.6vh;
}


option {
    background-color: #434CA5;
    color: #FAC611;
}

::placeholder {
    color: #FAC611;
}

#Adicionar_Conteudo {
    border: 0.2vh solid white;
    background-color: black;
    display: none;
}

#Adicionar_ConteudoAparecer {
    position: fixed;
    background: linear-gradient(179deg, #E79393 -58.07%, rgba(81, 0, 252, 0.00) 144.05%);
    top: 0;
    width: 100%;
    overflow: auto;
    height: 100%;
    z-index: 2;
    padding: 2vh;
}

#Adicionar_ConteudoAparecer::-webkit-scrollbar {
    width: 0px;
}

#Sprite_Input,
#Background_Input,
#Cenario_Input,
#Music_Input {
    display: none;
}

#Add_Button {
    all: unset;
    border: 0.2vh solid black;
    background: linear-gradient(152deg, #29179C 3.59%, rgba(46, 28, 159, 0.87) 43.37%, rgba(32, 5, 66, 0.00) 94.52%);
    stroke-width: 2px;
    stroke: #0C0101;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    margin-bottom: 2vh;
    bottom: 0;
    padding: 2vh;
    margin-left: 2vh;
    border-radius: 50%;
    cursor: pointer;
    width: 3vh;
    height: 3vh;
    text-align: center;
    font-size: 3vh;
    font-style: oblique;
}



/* Batalha */
.Container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.Personagem {
    width: 50%;
    top: 0;
    text-align: center;
    height: 100vh;
}

#Começar {
    border: 0.2vh solid white;
    background-color: red;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: none;
}

.Personagem>img {
    width: 100%;
    height: 70vh;
}

#Buttons_Container,
#Magics {
    display: flex;
    align-content: center;
    justify-content: center;
}

:is(#Buttons_Container,#Magics) > button{
    background-color: #1127FA;
    cursor: pointer;
    border-radius:25%;
}

:is(#Buttons_Container,#Magics) > button:hover {
    background-color: #434CA5;
}

#Laço{
    position: absolute;
    margin-top: -40vh;
}
#Laço > img{
    width: 35vh;
    height: 35vh;
}
#Stages{
    text-align: center;
    background-color: #434CA5;
    color: #FAC611;
    padding: 2vh;
    font-size: 6vh
}


/* Fazenda */
.Criation {
    border: 0.2vh solid transparent;
    height: 100vh;
    text-align: center;
    display: none;
}


.Criation>img {
    width: 50vh;
    display: block;
    margin: auto;
}

#Created {
    display: flex;
    flex-flow: row wrap;
}

#Fazenda_Diva {
    border: 0.2vh solid transparent;
    width: 40vh;
    height: 40vh;
    padding: 2vh;
    margin-top: 2vh;
    margin-left: 2vh;
    color: #FAC611;
    text-shadow: 0.2vh 0.2vh 0.2vh #1127FA;
    text-align: center;
    font-size: 1.7vh;
}

#Fazenda_Diva>img {
    width: 100%;
    height: 40vh;
    border-radius: 50%;
}

#Fazenda_Diva>h1 {
    font-size: 3vh;
}

.FazendaBtn {
    all: unset;
    border: 0.2vh solid transparent;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2vh;
    font-size: 5vh;
}

#FazendaPersonagens {
    display: none;
}

/* Shop */
#BuscarBody {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2vh;
    border: 0.1vh solid transparent;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#BuscarBody::-webkit-scrollbar {
    width: 0px;
}

#Caixa {
    border: 0.3vh solid #BA9F3C;
    background-image: url('../files/BackgroundShop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 45vh;
    height: 48vh;
    margin-left: 0.7vh;
    padding: 2vh;
    color: #FAC611;
    text-shadow: 0.1vh 0.1vh 0.1vh #BA9F3C;
    margin-top: 2vh;
    border-radius: 2vh;
}

#Caixa>img {
    width: 40%;
    height: 40%;
    border: 0.4vh solid #FAC611;
    margin-left: 1vh;
    z-index: 0;
    margin-top: 2vh;
}

#OutDiv {
    margin-top: 0.2vh;
    padding: 0.2vh;
    overflow: auto;
    font-size: 2vh;
    height: 13vh;
}

#OutDiv>h1 {
    font-size: 5vh;
}

#OutDiv::-webkit-scrollbar {
    width: 0px;
}

#Caixa>button {
    margin-top: 2vh;
    width: 20%;
    border-radius: 2vh;
}

#Caixa>h6 {
    font-size: 3vh;
}

#Caixa>button:hover {
    background-color: #1127FA;
    cursor: pointer;
}

#Dinheiro,
#Components {
    color: greenyellow;
    font-size: 5vh;
}

/* Add mods */

#TituloAdd,#PersonagemName,#Personagem,#ContainerChild,#Atributos > h4{
    color: #FAC611;
    text-shadow: 0.1vh 0.1vh 0.1vh #434CA5;
    font-size: 4vh;
    font-style: oblique;
}

#Conteudo {
    display: flex;
    flex-flow: row wrap;
    border: 0.2vh solid transparent;
    width: 100%;
    margin-top: 2vh;
}

#AddBody,
#ShopBody {
    padding: 2vh;
}

#Conteudo>img {
    width: 45vh;
    height: 45vh;
    cursor: pointer;
    margin-top: 2vh;
    margin-left: 4vh;
    border-radius: 5vh;
}

/* Home */
#Container {
    display: flex;
    flex-flow: row wrap;
}

#Add_ButtonDiv {
    background-color: #0C0101;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    position: fixed;
}

#Add_ButtonDiv>h1 {
    font-size: 10vh;
    text-transform: uppercase;
}

#Container>label {
    display: block;
}

#Container>img {
    justify-content: left;
    height: 100vh;
    width: 80vh;
}

#Inputs {
    border: 0.2vh solid transparent;
    width:30%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: auto;
    height:100vh;
}

#Inputs::-webkit-scrollbar{
    width: 0px;
}

#Inputs>label {
    font-size: 5vh;
    justify-content: center;
    margin: auto;
    text-align: center;
}

#Inputs > label > h4{
    margin-top: 2vh;
}
#Inputs > label > select{
    width: 40vh;
    margin-top: 0.5vh;
}

#ContainerChild{
    padding: 0.5vh;
    font-size: 3vh;
}

#Atributos{
    border: 0.2vh solid transparent;
    position: absolute;
    top: 0;
    margin-left: 80vh;
    text-align: left;
    margin-top: 18vh;
}

#Atributos > h4{
    display: block;
}