* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 0px;
}

button,
input,
textarea {
    all: unset;
    display: block;
    margin: auto;
    border: 0.2vh solid yellow;
    padding: 2vh;
    font-size: 2vh;
    width: 10%;
    text-align: center;
    border-radius: 2vh;
    margin-top: 1vh;
    background-color: rgb(41, 21, 7);
}

input,
textarea {
    width: 30%;
}

::placeholder {
    color: white;
}

#Adicionar_Conteudo {
    border: 0.2vh solid white;
    background-color: black;
    display: none;
}

#Adicionar_ConteudoAparecer {
    position: fixed;
    background: linear-gradient(179deg, #E79393 -58.07%, rgba(81, 0, 252, 0.00) 144.05%);
    top: 0;
    width: 100%;
    overflow: auto;
    height: 100%;
    z-index: 2;
}

#Adicionar_ConteudoAparecer::-webkit-scrollbar {
    width: 0px;
}

#Add_Button {
    all: unset;
    border: 0.2vh solid black;
    background: linear-gradient(152deg, #29179C 3.59%, rgba(46, 28, 159, 0.87) 43.37%, rgba(32, 5, 66, 0.00) 94.52%);
    stroke-width: 2px;
    stroke: #0C0101;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    margin-bottom: 2vh;
    bottom: 0;
    padding: 2vh;
    margin-left: 2vh;
    border-radius: 50%;
    cursor: pointer;
    width: 3vh;
    height: 3vh;
    text-align: center;
    font-size: 3vh;
    font-style: oblique;
}

/* Batalha */
.Container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.Personagem {
    width: 50%;
    top: 0;
    text-align: center;
    height: 100vh;
}

.Personagem:nth-child(1){
    background-color: red;
}

.Personagem:nth-child(2){
    background-color: blue;
}
#Começar {
    border: 0.2vh solid white;
    background-color: red;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: none;
}

.Personagem>img {
    width: 100%;
    height: 70vh;
}

#Buttons_Container, #Magics{
    display: flex;
    align-content: center;
    justify-content: center;
}


/* Fazenda */
.Criation {
    border: 0.2vh solid transparent;
    height: 100vh;
    text-align: center;
    display: none;
}


.Criation>img {
    width: 50vh;
    display: block;
    margin: auto;
}

.FazendaBtn {
    all: unset;
    border: 0.2vh solid transparent;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2vh;
    font-size: 5vh;
}

#FazendaPersonagens {
    display: none;
}

#Created {
    margin-top: 10vh;
}

/* Shop */
#BuscarBody {
    display: flex;
    align-items: center;
    margin-top: 2vh;
}

#Caixa {
    border: 0.2vh solid goldenrod;
    background-image: url('../files/BackgroundShop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 55vh;
    height: 45vh;
    margin-left: 1vh;
    padding: 2vh;
    color: goldenrod;
    text-shadow: 0.1vh 0.1vh 0.1vh gold;
}

#Caixa>img {
    width: 40%;
    height: 40%;
    border: 0.4vh solid goldenrod;
    margin-left: 2vh;
    z-index: 0;
}

/* Add mods */
#Conteudo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 0.2vh solid transparent;
    width: 100%;
}

#Criar>h1 {
    /* display: none; */
}

#Conteudo>img {
    width: 45vh;
    height: 45vh;
    cursor: pointer;
    margin-top: 0.5vh;
    margin-left: 0.2vh;
}

/* Home */
#Container {
    border: 0.2vh solid white;
    display: flex;
    flex-flow: row wrap;
}

#Container>label {
    display: block;
}

#Container>img {
    justify-content: left;
}

#Inputs {
    border: 0.2vh solid transparent;
    position: absolute;
    top: 0;
    margin-left: 75vh;
    margin-top: 5vh;
    width: 80%;
}

#Inputs>label {
    display: block;
    margin-left: 2vh;
}