<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
    <link rel="stylesheet" href="../static/Styles/style.css">
</head>
<body>
    <div>
        <h1>Add</h1>
        <div id="Input">
          <input type="text" placeholder="Nome do Personagem: " id="Personagem" />
          <input type="text" placeholder="Image do Personagem: " id="PersonagemImg" />
          <select id="Sintonia"></select>
          <div id="Criar"></div>
          <button onclick="Add()">Adicionar</button>
        </div>
      </div>
</body>
<script src="../static/Scripts/Add.js"></script>
</html>