<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Mods</title>
    <link rel="stylesheet" href="../static/Styles/style.css">
</head>
<body>
    <input type="file" placeholder="Adicionar Sprites">
    <input type="file" placeholder="Adicionar Music">
    <input type="file" placeholder="Adicionar Scenario">
    <button>Add</button>
</body>
<script src="../static/Scripts/Mods.js"></script>
</html>