<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Mods</title>
    <link rel="stylesheet" href="../static/Styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <button id="Add_Button">+</button>
    <div id="Adicionar_Conteudo">
        <input type="text" id="UrlImg" placeholder="Adicionar Background">
        <button onclick="SalvarURL()">Baixar</button>
        <form action="/SpriteAdd" method="post" enctype="multipart/form-data">
            <input type="file" accept="image/*" id="AddSprites" name="AddSprites">
            <button>Enviar</button>
        </form>
        <form action="/CenarioAdd" method="post" enctype="multipart/form-data">
            <input type="file" accept="image/*" id="CenarioAdd" name="CenarioAdd">
            <button>Enviar</button>
        </form>
        <form action="/MusicAdd" method="post" enctype="multipart/form-data">
            <input type="file" accept="audio/*" id="MusicAdd" name="MusicAdd">
            <button>Enviar</button>
        </form>
    </div>
    <div id="Conteudo"></div>
</body>
<script src="../static/Scripts/Mods.js"></script>
<script src="../static/Scripts/Padrão.js"></script>

</html>