<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batalhas</title>
    <link rel="stylesheet" href="../static/Styles/style.css">
</head>
<body>
  <div id="Começar">
    <h1>Começar a Partida</h1>
  </div>
  <div id="Partida">
    <h1 id="Stages"></h1>
    <div class="Container">
    <div class="Personagem">
     <img id='Protagonista' alt="" />
      <h1 id="PersonagemName">Eu</h1>
      <div id='Laço'></div>
      <h2 id='UserStatus'></h2>
      <div id="Buttons_Container">
        <button id="ATACAR_BTN">Atacar</button>
        <button id="Invocar_BTN">Invocar</button>
        <button onclick="MAG()">Magics</button>
        <button id="Form_BTN">Forma</button>
      </div>
      <div id='Magics'></div>
     </div>
      <div class="Personagem">
      <img id="Villain_Img" alt="" />
      <h1 id="Villain_Name"></h1>
      <h2 id='Villain_Status'></h2>
      </div>
    </div>
  </div>
  </div>
</body>
<script src="../static/Scripts/Batalhas.js"></script>
</html>