<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batalhas</title>
    <link rel="stylesheet" href="../static/Styles/style.css">
</head>
<body>
  <div id="Começar">
    <h1>Começar a Partida</h1>
  </div>
  <div id="Partida">
    <h1>Stage 0</h1>
    <div class="Container">
    <div class="Personagem">
     <img id='Protagonista' alt="" />
      <h1 id="PersonagemName">Eu</h1>
      <div id='Laço'></div>
      <h2 id='Life'></h2>
      <h5>0</h5>
      <div id="Buttons_Container">
        <button onclick="ATK()">Atacar com <span id="Arma"></span></button>
        <button onclick="INV()">Invocar <span id="LaçoName"></span></button>
        <button onclick="MAG()">Magics</button>
        <button onclick="EVO()"><span id="Form"></span></button>
      </div>
      <div id='Magics'></div>
     </div>
      <div class="Personagem">
      <img src="https://i.pinimg.com/564x/88/4d/b9/884db987e815ab164f3d044a5929000f.jpg" alt="" />
      <h1>Vilão</h1>
      <h2 id='LifeAdvs'></h2>
      </div>
    </div>
  </div>
  </div>
</body>
<script src="../static/Scripts/Batalhas.js"></script>
</html>