<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batalhas</title>
    <link rel="stylesheet" href="../static/Styles/style.css">
</head>
<body>
    <h1>Stage 0</h1>
    <div class="Container">
    <div class="Personagem">
     <img id='Protagonista' src="https://i.pinimg.com/564x/7d/63/03/7d63032fd47c2f9ae2f18fb89fe4e2a9.jpg" alt="" />
      <h1>Eu</h1>
      <div id='Laço'></div>
      <h2 id='Life'></h2>
      <h5>0</h5>
      <button onclick="ATK()">Atacar</button>
      <button onclick="INV()">Laço</button>
      <button onclick="MAG()">Magia</button>
      <div id='Magics'></div>
      <button onclick="EVO()">Mudar de Forma</button>
     </div>
      <div class="Personagem">
      <img src="https://i.pinimg.com/564x/88/4d/b9/884db987e815ab164f3d044a5929000f.jpg" alt="" />
      <h1>Vilão</h1>
      <h2 id='LifeAdvs'></h2>
      </div>
    </div>
  </div>
</body>
<script src="../static/Scripts/Batalhas.js"></script>
</html>