<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Config</title>
    <link rel="stylesheet" href="../static/Styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Modificar o Background</h1>
    <input type="text" id="UrlImg">
    <button onclick="SalvarURL()">Baixar</button>
    <div id="Conteudo"></div>
    <hr>
</body>
<script src="../static/Scripts/Config.js"></script>
</html>