<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fazenda</title>
    <link rel="stylesheet" href="../static/Styles/style.css">
</head>
<body>
    <div class="FazendaBody">
        <button onclick="Mudar()" class="FazendaBtn" >chocar o Ovo</button>
       <div id='Criation' class="Criation">
       <h1>Fazenda</h1>
        <h1 id='Name'></h1>
        <img id='PetGerar' src="../static/files/Ovo.png" alt="" />
        <button onclick="Metamorfose()">Abrir</button>
       </div>
    </div>
</body>
<script src="../static/Scripts/Fazenda.js"></script>
</html>