<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fazenda</title>
    <link rel="stylesheet" href="../static/Styles/style.css">
</head>

<body>
    <div class="FazendaBody">
        <button onclick="Mudar()" id="Add_Button" class="FazendaBtn">+</button>
        <div id="Adicionar_Conteudo">
        <div id='Criation' class="Criation">
            <button id="Meta" onclick="Metamorfose()">Criar um Laço</button>
            <h1>chocar o Ovo</h1>
            <img id='PetGerar' src="../static/files/Ovo.png" alt="" />
            <div id="FazendaPersonagens">
                <h1 id='Name'></h1>
                <input type="text" placeholder="Trocar Name" onchange="Trocar_Laço()"  id="NamePersonagem">
                <input type="text" id="ImgPersonagem" onchange="Trocar_Laço()" placeholder="Trocar Imagem">
                <button onclick="SalvarLaço()">Salvar o Laço</button>
            </div>
        </div>
    </div>
        <div id="Created"></div>
    </div>
</body>
<script src="../static/Scripts/Fazenda.js"></script>
<script src="../static/Scripts/Padrão.js"></script>
</html>