<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/Styles/style.css">
</head>
<body id="Home">
    <button id="KeyBtn">I</button>
    <div id="Add_ButtonDiv">
        <h1>Criar seu Personagem</h1>
    </div>
    <button id="Add_Button">+</button>
    <div id="Adicionar_Conteudo">
        <input type="text" placeholder="Nome do Personagem: " id="Personagem" />
        <input type="text" placeholder="Image do Personagem: " id="PersonagemImg" />
        <select id="Sintonia"></select>
        <h1>Você pode usar <span id="Points"></span> pontos</h1>
        <div id="Criar"></div>
        <button id="Salvar">Salvar</button>
        <button onclick="Add()">Adicionar</button>
    </div>
    <div id="Set_Create"></div>
    <div id="Inputs1">
        <select id="Magia1">
            <option value="Magic1">Magic 1</option>
        </select>
        <select id="Magia2">
            <option value="Magic2">Magic 2</option>
        </select>
        <select id="Magia3">
            <option value="Magic3">Magic 3</option>
        </select> 
        <select id="Magia4">
            <option value="Magic4">Magic 4</option>
        </select> 
    </div>
    <div id="Inputs2">
        <select id="Arma">
            <option value="Arma">Arma</option>
        </select>
        <select id="Equipamento">
            <option value="Equipamento">Equipamento</option>
        </select> 
        <select id="Skill">
            <option value="Skill">Skill</option>
        </select>
        <select id="Forma">
            <option value="Forma">Forma</option>
        </select> 
        <select id="Laços">
            <option value="Laço">Laço</option>
        </select>
    </div>
    <button id="ItensSalvos" onclick="ItensSalvos()">Salvar</button>
</body>
</div>
<script src="../static/Scripts/Home.js"></script>
<script src="../static/Scripts/Padrão.js"></script>

</html>