<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/Styles/style.css">
</head>

<body>
    <div id="Add_ButtonDiv">
        <h1>Criar seu Personagem</h1>
    </div>
    <button id="Add_Button">+</button>
    <div id="Adicionar_Conteudo">
        <input type="text" placeholder="Nome do Personagem: " id="Personagem" />
        <input type="text" placeholder="Image do Personagem: " id="PersonagemImg" />
        <select id="Sintonia"></select>
        <h1>Você pode usar <span id="Points"></span> pontos</h1>
        <div id="Criar"></div>
        <button id="Salvar">Salvar</button>
        <button onclick="Add()">Adicionar</button>
    </div>
    <div id="Set_Create"></div>
    <div id="Inputs">
        <label><h4>Laço: </h4><select id="Laços"></select></label>
        <label><h4>Armas:</h4> <select id="Arma"></select></label>
        <label><h4>Magia 1: </h4><select id="Magia1"></select></label>
        <label><h4>Magia 2: </h4><select id="Magia2"></select></label>
        <label><h4>Magia 3: </h4><select id="Magia3"></select></label> 
        <label><h4>Magia 4: </h4><select id="Magia4"></select></label> 
        <label><h4>Equipamento: </h4><select id="Equipamento"></select></label> 
        <label><h4>Skill: </h4><select id="Skill"></select></label>
        <label><h4>Forma: </h4><select id="Forma"></select></label> 
        <button onclick="ItensSalvos()">Salvar</button>
    </div>
    <div id="Atributos"></div>
</body>
</div>
<script src="../static/Scripts/Home.js"></script>
<script src="../static/Scripts/Padrão.js"></script>

</html>