<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div id="Sidebar">
        <a href="/Home" target="Rota_Principal">Home</a>
        <a href="/Batalhas" target="Rota_Principal">Batalhas</a>
        <a href="/Add" target="Rota_Principal">Add</a>
        <a href="/Fazenda" target="Rota_Principal">Fazenda</a>
        <a href="/Shop" target="Rota_Principal">Shop</a>
        <a href="/Mods" target="Rota_Principal">Add Mods</a>
    </div>
    <iframe src="/Home" name="Rota_Principal" frameborder="0"></iframe>
</body>
<script src="../static/Scripts/Index.js"></script>
</html>